		 <div style="display: none;width: 100%; overflow: auto; " id="_FUNCTIONALITY_NAME__TESTCASEID__TESTCASENAME_" class="aHide rghtpane">
                <div class="rghtpanhdv">
                    <div style="width: 100%; text-align: center" class="table-responsive">
					
                        <table cellspacing='0' cellpadding='0' border='0' align='center' style='width:100%;'>
                            <tr>
                                <td class='subhdr'>
                                    Test Case Execution Report
                                </td>
                            </tr>
                        </table>
                        <table cellspacing='0' cellpadding='0' border='0' align='center' style='width:100%;'>
                            <tr>
                                <td class='subheading2' width='15%' align='center'>Test Case Id</td>
                                <td class='subheading2' width='25%' align='center'>Test Case Name</td>
                                <td class='subheading2' width='10%' align='center'>Environment</td>
                                <td class='subheading2' width='20%' align='center'>Browser</td>
                                <td class='subheading2' width='30%' align='center' colspan="2">Application URL</td>

                            </tr>
                            <tr>
                                <td class='subheading' valign="middle" align="center">_TESTCASEID1_</td>
                                <td class='subheading' valign="middle" align="center">_TESTCASENAME_</td>
                                <td class='subheading' valign="middle" align="center">_ENVIRONMENT_</td>
                                <td class='subheading' valign="middle" align="center">_BROWSER_</td>
                                <td class='subheading' valign="middle" align="center" colspan="2">_APPLICATIONURL_</td>
                            </tr>

                            <tr>
                                <td class='subheading2' width='10%' align='center'>Step #</td>
                                <td class='subheading2' width='40%' align='center'>Description</td>
                                <td class='subheading2' width='45%' align='center' colspan="2">Actual Result</td>
                                <td class='subheading2' width='10%' align='center' colspan="2">Status</td>
                            </tr>
							
							
      
							_TESTCASESTEPS_
	  
							

							

                            <tr>
                                <td class='subheading2' width='15%' align='center'>Test Steps-Pass</td>
                                <td class='subheading2' width='15%' align='center'>Test Steps-Fail</td>
                                <td class='subheading2' width='25%' align='center'>Execution Date & Time</td>
                                <td class='subheading2' width='20%' align='center'>Execution Machine Name</td>
                                <td class='subheading2' width='15%' align='center'>Run Duration</td>
                                <td class='subheading2' width='10%' align='center' colspan="2">Iteration</td>
                            </tr>
							
                            <tr>
                                <td class='subheading' align='center'>_TOTAL_PASS_STEPS_</td>
                                <td class='subheading' align='center'>_TOTAL_FAIL_STEPS_</td>
                                <td class='subheading' align='center'>_EXECUTION_DATA_TIME_</td>
                                <td class='subheading' align='center'>_EXECUTION_MACHINE_NAME_</td>
                                <td class='subheading' align='center'>_TEST_RUN_DURATION_</td>
                                <td class='subheading' align='center' colspan="2">_ITERARTION_</td>
                            </tr>
							
                        </table>
						
                    </div>
					
					
					
                    <div style="padding:20px 0px 10px 0px;">
                        <ul class="tab-navbar tab-black">
                            <li><a href="#" class="tablink" onclick="openCity(event, 'London','1');">Data</a></li>
                        </ul>


                    </div>					
					

                </div>
            </div>        