                            <tr style="background-color:#fff;">
                                <td class='tdborder_1' align='center'>_i_</td>
                                <td class='tdborder_1' align="left">_DESCRIPTION_</b></td>
                                <td class='tdborder_1' align="left" colspan="2"> _ACTUAL_RESULT_ ForScreenShot <a href="javascript: ShowScreenShotPopup('_SCREENSHOTPATH_');" target="_top" style="color:#0000FF">ClickHere</a></td>
                                <td class='tdborder_1' width='20%' align='center' colspan="2" style="color:_TEST_STEP_CLASS_">_STATUS_</td>
                            </tr>