                        <tr>
                            <td align="center">_FUNCTIONALITY_NAME_</td>
                            <td align="center" class="tdborder_1">_FUNCTIONALITY_PASSED_</td>
                            <td align="center">_FUNCTIONALITY_FAILED_</td>
                            <td align="center" class="tdborder_1">_FUNCTIONALITY_TOTAL_</td>
                            <td align="center" class="tdborder_1">_FUNCTIONALITY_DURATION_</td>
                        </tr>