	<test name="strTestName">
		<parameter name ="Browser" value ="strTestBrowser"/>
		<parameter name ="iteration" value ="strIterationCount"/>
		<classes> <class name="strClassName"/></classes>
	</test> <!-- Test -->	